* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container-img {
    width: 600px;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/1996333/pexels-photo-1996333.jpeg?cs=srgb&dl=pexels-helena-lopes-1996333.jpg&fm=jpg");
    background-size: cover;
    border-radius: 10px;
    animation: gallery 15s linear infinite;
}

@keyframes gallery {
    0% {
        background-image: url("https://images.pexels.com/photos/1996333/pexels-photo-1996333.jpeg?cs=srgb&dl=pexels-helena-lopes-1996333.jpg&fm=jpg");

    }

    20% {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f8/Rangdum_village_grazing_fields.jpg");

    }

    40% {
        background-image: url("https://static.toiimg.com/img/104753278/Master.jpg");
    }

    60% {
        background-image: url("https://www.authenticindiatours.com/app/uploads/2022/05/10-reasons-to-visit-Kerala-Kumarakom-Back-Waters-Boat-House-1400x550-c-default.jpg");
    }

    80% {
        background-image: url("https://www.mapsofindia.com/maps/rajasthan/images/rajasthan.jpg");
    }

    100% {
        background-image: url("https://gujarati.news18.com/web-stories/gujarat/know-the-best-time-to-visit-white-desert-of-kutchh-bg/assets/7.jpeg");
    }
}